/* General contacts styles */
#contacts{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2em 0;
}

/* contacts container */
#contacts-container{
    padding: 0 1em;
    font-family: "M plus 1p";
}

/* contact header */
.contacts-header{
    color: #e5e5e5;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1em;
}

/* contact info */
#contact-info{
    color: rgba(229, 229, 229, .4);
    display: block;
    font-weight: 500;
    letter-spacing: 2px;
}

/* contact sub header */
.contact-sub-header{
    color: #e5e5e5;
    font-weight: 500;
    margin: .5em 0;
}

/* contact message */
.contact-message{
    color: #e5e5e5;
    font-size: 14px;
}

/* contact data */
.contact-data{
    margin-top: 1em;
}

/* contact sub header 2 */
.contact-sub-header-2{
    color: rgba(229, 229, 229, .5);
    font-weight: 500;
    margin-bottom: .8em;
}

/* data list */
/* .data-list{} */

/* data list item */
.data-list-item{
    list-style: none;
    color: #e5e5e5;
    font-size: 14px;
    margin: .5em 0;
}

/* social list */
.social-list{
    display: flex;
    gap: .8em;
}

/* social list item */
.social-list-item{
    list-style: none;
}

/* social list item link */
/* .social-list-item-link{} */

/* social list item icon */
.social-list-item-icon{
    font-size: 20px;
    color: #e5e5e5;
}

/* contact form container */
#contact-form-container{
    margin-top: 2em;
}

/* contact form */
/* #contact-form{} */

/* form group */
.form-group{
    display: grid;
    margin: .8em 0;
}

.form-group:not(:nth-last-child(1)){
    border-bottom: 1px solid #e5e5e5;
}

/* form control */
.form-control{
    padding: .8em .5em;
    border: 0;
    color: #e5e5e5;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #1B2838;
}

/* primary button */
.primary-btn{
    padding: .5em 5em;
    color: #1B2838;
    font-weight: 500;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    margin: 2em 0;
}

.primary-btn:hover{
    color: #e5e5e5;
    background-color: #24C8A7;
    border: 2px solid #24C8A7;
}